$body-bg: rgb(254, 254, 254);
$link-decoration: none;
$primary-font: Optima, sans-serif;
$primary-color: rgb(22, 22, 22);
$primary: rgb(224, 224, 224);

body {
  display: flex;
}

main {
  margin: auto;
  width: 70%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  color: $primary-color;
  box-sizing: border-box;
  font-family: $primary-font;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

@import 'bootstrap/scss/bootstrap';
